{% extends 'index.html' %}

{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
<p>Good morning sir / madam.

    Thank you for giving me this opportunity to introduce myself.
    
    My name is Rushikesh. I am Basically from Hosur but currently live in mumbai.
    
    Talking about my educational qualification, I have completed my BE in CSE from Karpagam Academy Of Higher Education Coimbatore.
    
    Taking about my internship during my bachelor's degree I have completed two internships that's all about networking and data entry.
    
    Talking about my family, my family consists of 4members including me. My father is a farmer and my mother is a housewife.
    
    My short-term goal is to get a job in a reputed company.
    
    My long-term goal is to become a more responsible and knowledgeable personality and on respected position in my company.
    
    My strengths are hard-working, self-motivating and quick learner.
    
    My weakness is I feel uncomfortable until I finish my work in the given time, and I easily trust people.
    
    My hobbies are cooking, internet suffering, playing some indoors games asusal outdoor games.
    
    That's all about me.
    
    Thank you so much once again for this wonderful opportunity.
</p>

</div>
{% endblock %}
